body {
    background: cornsilk;
    margin: 0 auto;
}

body.test {
    width: 640px;
}

body.report {
    width: 1520px;
}

div.left {
    background: white;
    width: 560px;
    margin: 20px;
    padding: 20px;
    float: left;
}

div.right {
    margin: 20px;
    float: left;
}

div.question, div.last, div.result, pre.data, input.back {
    display: none;
}

progress {
    width: 100%;
}
