body {
    background: cornsilk;
    font-family: verdana;
    margin: 0 auto;
}

body.test {
    width: 640px;
}

body.report {
    width: 1320px;
}

div.left {
    background: white;
    width: 560px;
    margin: 20px;
    padding: 20px;
    float: left;
}

div.right {
    margin: 20px;
    float: left;
}

div.centred {
    width: 50%;
    margin: 0 auto;
}

div.question, div.last, div.result, pre.data, input.back {
    display: none;
}

progress {
    width: 100%;
}

div.ui-progressbar-value {
    background: #b1bf34;
}

input.ui-button {
    background: #b1bf34;
    color: white;
}

input.ui-button:hover {
    background: orange;
    color: white;
}

label.ui-checkboxradio-label {
    background: #b1bf34;
    color: white;
}

label.ui-checkboxradio-label:hover {
    background: orange;
    color: white;
}
