
body
{margin: 0 auto;
 width: 640px;
 color: darkblue;
 background: lightskyblue}

div.top
{margin: 20px 20px 0}

div.badge
{float: left}

div.title
{float: left;
 width: 516px;
 margin: 0 0 0 4px;
 background: white;
 text-align: center;
 border-radius: 10px}

div.left
{clear: left;
 margin: 20px}

div.container
{width: 640px}

div.header
{background: white;
 text-align: center;
 border-radius: 10px}

div.panel
{background: white;
 padding: 10px 10px;
 border-radius: 10px}

a:link, a:visited
{text-decoration: none}

a:hover, a:active
{text-decoration: underline}

img
{border-radius: 10px}
