
body
{margin: 0 auto;
 width: 1160px;
 color: darkblue;
 background: lightskyblue}

div.top
{margin: 20px 20px 0}

div.badge
{float: left}

div.title
{float: left;
 width: 1036px;
 margin: 0 0 0 4px;
 background: white;
 text-align: center;
 border-radius: 10px}

div.header
{background: white;
 text-align: center;
 border-radius: 10px}

div.left
{width: 560px;
 clear: left;
 float: left;
 margin: 0 0 0 20px}

div.right
{width: 560px;
 float: left;
 margin: 0 0 0 4px}

div.container
{width: 1160px}

div.caption
{background: white;
 text-align: center;
 border-radius: 5px}

img
{border-radius: 10px}
