html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
    background: white;
    font-family: Verdana, Helvetica, sans-serif;
}

img {
    max-width: 100%;
}

div.container {
    background: white;
    width: -moz-fit-content;
    width: -webkit-fit-content;
    width: -ms-fit-content;
    width: -o-fit-content;
    width: fit-content;
    margin: 0 auto;
    padding: 20px;
}

div.questionnaire {
    max-width: 640px;
}

div.report {
    overflow: hidden;
}

div.preview {
    max-width: 640px;
    height: 720px;
    margin-bottom: 20px;
    padding: 20px;
    overflow: auto;
}

div.question, div.last, div.result, input.back {
    display: none;
}

div.ui-progressbar-value {
    background: #b1bf34;
}

iframe.preview {
    border: none;
}

input.ui-button {
    background: #b1bf34;
    color: white;
}

input.ui-button:hover,
input.ui-button:focus,
input.ui-button:active {
    background: #f6e460;
    color: white;
}

label.ui-checkboxradio-label {
    background: #b1bf34;
    color: white;
}

label.ui-checkboxradio-label:hover,
label.ui-checkboxradio-label:focus,
label.ui-checkboxradio-label:active {
    background: #f6e460;
    color: white;
}
